@model PL.Models.AlbumListViewModel
@using System.Web.Mvc.Html
@using X.PagedList.Mvc
@{
    bool useCustomBackground = false;
}
<p>
    <a href="@Url.Action("Create")">
        <input type="submit" class="button" value="Create New" />
    </a>
</p>
<div class="filter">
    @using (Html.BeginForm())
    {
        <p>Name: </p>
        @Html.EditorFor(model => model.Filter.Name)
        <br />
        <p>Artist name: </p>
        @Html.EditorFor(model => model.Filter.Artist)
        <br />
        <p>Published from: </p>
        @Html.EditorFor(model => model.Filter.PublishDateFrom)
        <br />
        <p>Published to:</p>
        @Html.EditorFor(model => model.Filter.PublishDateTo)
        <br/>
        <br/>
        <a type="button" class="button" href='@Url.Action("ClearFilter")'>Clear</a>
        <button class="button" type="submit">Filter</button>
        <hr />
    }
    @Html.PagedListPager(Model.Albums, page => Url.Action("Index", new { page }))
</div>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Artist
        </th>
        <th id="th-main">
            Description
        </th>
    </tr>
    @foreach (var item in Model.Albums)
    {
        {
            useCustomBackground = !useCustomBackground;
        }
        <tr class="@(useCustomBackground ?  "tr_background" : "")">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a href="../Artist/Details/@Html.DisplayFor(modelItem => item.ArtistPId)">@Html.DisplayFor(modelItem => item.Artist.Name)</a>
            </td>
            <td>
                @if (item.Description != null)
                {
                    @(item.Description.Length > 350 ? item.Description.Substring(0, 350) : item.Description)
                }
            </td>
            <td>
                <a href="@Url.Action("Edit", new {id = item.ID})">
                    <div class="button button-table">
                        <i class="fa fa-pencil-square-o fa-lg"></i>
                    </div>
                </a>
            </td>
            <td>
                <a href="@Url.Action("Delete", new {id = item.ID})">
                    <div class="button button-table">
                        <i class="fa fa-trash-o fa-lg"></i>
                    </div>
                </a>
            </td>
            <td>
                <a href="@Url.Action("Details", new {id = item.ID})">
                    <div class="button button-table">
                        <i class="fa fa-ellipsis-h fa-lg"></i>
                    </div>
                </a>
            </td>
        </tr>
    }
</table>
