@model BL.DTO.UserRegistrationDTO

@{
    ViewBag.Title = "Registruj se ty lol";
    Layout = "~/Views/Shared/_NoAuthLayout.cshtml";
}

@using (Html.BeginForm("Register", "Account", method: FormMethod.Post, htmlAttributes: new { @class = "prihlaseni", role = "form" }))
{
    @Html.AntiForgeryToken()
    <p>Create a new account.</p>
    <hr />
    @Html.ValidationSummary("", new { @class = "error_msg" })
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email, new { @type = "email" })

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)

    @Html.LabelFor(m => m.Address)
    @Html.TextBoxFor(m => m.Address)

    @Html.LabelFor(m => m.FirstName)
    @Html.TextBoxFor(m => m.FirstName)

    @Html.LabelFor(m => m.LastName)
    @Html.TextBoxFor(m => m.LastName)

    @Html.LabelFor(m => m.BirthDate)
    @Html.TextBoxFor(m => m.BirthDate, new { @type = "date" })

    @Html.LabelFor(m => m.MobilePhoneNumber)
    @Html.TextBoxFor(m => m.MobilePhoneNumber, new { @type = "tel" })

    <input type="submit" class="button" value="Register" />

}