@model BL.DTO.GenreDTO

<h1>Edit</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    <br /><br />
    @Html.LabelFor(model => model.Name)<br />
    @Html.EditorFor(model => model.Name)<br />
    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })<br />

    <input type="submit" value="Save" class="button" /><br />

}
<br />
<br />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
