@using BL.Facades
@model BL.DTO.SongDTO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a href="@Url.Action("Edit", new {id = Model.ID})"><input type="submit" class="button" value="Edit" /></a>
    <a href="@Url.Action("Index")"><input type="submit" class="button" value="Back to List" /></a>
</p>
<div>
    <hr />
    <h1>
        @Html.DisplayFor(model => model.Name)
    </h1>

    <h2>@Html.DisplayNameFor(model => model.Album)</h2>
    <p>
        <a href="../../Album/Details/@Html.DisplayFor(model => model.AlbumPId)">@Html.DisplayFor(model => model.Album.Name)</a>
    </p>
    <h2>@Html.DisplayNameFor(model => model.Length)</h2>
    <p>
        @Html.DisplayFor(model => model.Length)
    </p>
    <h2>@Html.DisplayNameFor(model => model.Artist)</h2>
    <p>
        <a href="../../Artist/Details/@Html.DisplayFor(model => model.ArtistPId)">@Html.DisplayFor(model => model.Artist.Name)</a>  
    </p>
    <h2>@Html.DisplayNameFor(model => model.Genres)</h2>
    <p>
        @foreach (string genre in Model.Genres)
        {
            @Html.Raw(genre + " | ");
        }
    </p> 
    <br />
</div>
