@model BL.DTO.UserPasswordDTO

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h4>Change password</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Username)

    @Html.LabelFor(model => model.OldPassword)<br/>
    @Html.EditorFor(model => model.OldPassword)<br />
    @Html.ValidationMessageFor(model => model.OldPassword)<br />


    @Html.LabelFor(model => model.NewPassword)<br />
    @Html.EditorFor(model => model.NewPassword)<br />
    @Html.ValidationMessageFor(model => model.NewPassword)<br />


    @Html.LabelFor(model => model.NewPasswordAgain)<br />
    @Html.EditorFor(model => model.NewPasswordAgain)<br />
    @Html.ValidationMessageFor(model => model.NewPasswordAgain, "")<br />
    <br />

    <input type="submit" value="Save" class="button" />
}